
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Persons"; 
}

<style>
    .card {
        background-color: #303030;
        display: block;
        padding: 6px;
        margin-bottom: 10px;
        border: 1.8px solid #696969;
        border-radius: 8px;
    }
</style>

<div class="text-center">
    <h2>This is test project which implements CRUD operations for object Person.</h2>
    <h4>Application uses WebAPI to manage data. Know more on 
    <a href="http://hapi.fhir.org/resource?encoding=null&pretty=true&resource=Person">this site</a>.
    <br />
    If you want know more about person <a href="http://www.hl7.org/fhir/person.html#resource">click here</a>.</h4>
    <h3>To <a href="/Person/Edit" class="btn btn-primary btn-lg">Create new person</a> click this button.</h3>
</div>
<br />
<div class="container">
    
    <div id="all-persons" style="display: none;" data-bind="visible: persons().length != 0">
        <div class="row" data-bind="foreach: persons">
            <div class="col-sm-6 col-lg-4" data-bind="attr: { id: resource.id }">
                <div class="card text-center">
                    <!-- ko if: resource.id -->
                    <p data-bind="text: `Person Id: ${resource.id}`"></p>
                    <!-- /ko -->
                    <!-- ko if: resource.gender -->
                    <p data-bind="text: `Gender: ${resource.gender}`"></p>
                    <!-- /ko -->
                    <!-- ko if: resource.birthDate -->
                    <p data-bind="text: `BirthDate: ${resource.birthDate}`"></p>
                    <!-- /ko -->
                    <!-- ko if: resource.name -->
                    @*<p data-bind="text: formName($data)"></p>*@
                    <div class="row nameUse" data-bind="foreach: { data: formName($data), as: 'nameType'}">
                        <div class="col-sm-4 nameUseElem">
                            <span data-bind="text: nameType.use"></span>
                        </div>
                        <div class="col-sm-8 nameUseElem">
                            <span data-bind="text: nameType.name"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: resource.telecom -->
                    <p>
                        Telecom:

                        <span data-bind="text: `${resource.telecom[0]} `"></span>
                    </p>
                    <!-- /ko -->
                    <!-- ko if: resource.address -->
                    <p>
                        Address: <span data-bind="text: `${resource.address[0]} `"></span>
                    </p>
                    <!-- /ko -->

                    <div>
                        <a class="btn btn-primary" data-bind="attr: { href: '/Person/Edit/' + resource.id}">Edit</a>
                        <button data-bind="click: deletePerson.bind($data)" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<table class="table table-bordered table-hover text-center">
        <tbody>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>*@

</div>
@section Scripts {
    <script type="text/javascript">
        $(() => {
            const siteUrl = "https://hapi.fhir.org/baseR4/Person";
            var self = this;
            self.persons = null;
            loadData();

            function loadData() {
                $.ajax({
                    url: siteUrl,
                    type: 'GET',
                    //contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        console.log(data.entry);
                        self.persons = ko.observableArray(data.entry);
                        ko.applyBindings(self);
                    },
                    error: function (data) {
                        alert("error");
                        console.log(data);
                    }
                });
            }

            function capitalize(text) {
                return text.charAt(0).toUpperCase() + text.slice(1);
            }

            function existsString(text, another) {
                return text ? text : another;
            }

            function strConstructor(vari) {
                let res = "";
                for (var index in vari) {
                    res += " " + vari[index];
                }
                return res;
            };

            function getFullName(nm) {
                let prefName = strConstructor(nm.prefix);
                let givenName = strConstructor(nm.given);
                let suffName = strConstructor(nm.suffix);
                return {
                    use: capitalize(existsString(nm.use, 'Name')),
                    name: `${existsString(nm.family, '')}${prefName}${givenName}${suffName}`
                };
                //return `${capitalize(existsString(nm.use, 'Name'))}: ${existsString(nm.family, '')}${prefName}${givenName}${suffName}; `;
            }


            // Я принял решение делать из имени одну строку, ведь так будет проще её читать и во всех документах это одна строка
            self.formName = function (pers) {
                //console.log(pers.resource.name);
                let fullName = [];
                if (pers.resource.name) {
                    if (pers.resource.name.fullName) {
                        fullName = [pers.resource.name.fullName];
                    }
                    else {
                        for (var nm of pers.resource.name) {
                            fullName.push(getFullName(nm));    
                        }
                    }
                }
                else {
                    return null;
                }

                return ko.observableArray(fullName);
            }

            self.deletePerson = function (pers) {
                let id = pers.resource.id;
                console.log(id);

                if (confirm(`You sure you want to delete this person with Id = ${id}?`)) {
                    $.ajax({
                        url: siteUrl + `/${id}`,
                        type: 'DELETE',
                        contentType: "application/json",
                        data: { id: id },
                        success: (data) => {
                            alert("Delete query succussful! Person will be deleted soon.");
                            self.persons.remove(pers);
                            console.log(data);
                        },
                        error: (data) => {
                            alert("error");
                            console.log(data);
                        }
                    });
                }
            }
        });
    </script>
}